@import '../common';

.c-button {
    width: auto;
    height: 40px;
    
    font-size: 16px;
    padding: 2px 16px;

    background-color: #fff;
    
    border-radius: $c-boder-radius;
    border: 1px solid $c-default-border-color;

    &:hover {
        border-color: $c-hover-border-color
    }

    cursor: pointer;

    &.is-primary {
        background-color: $c-primary-color;
        color: #fff;

        border: none;

        &:hover {
            background-color: $c-primary-hover-color
        }
    }

    &.is-rounded {
        border-radius: $c-rounded-border-radius;
    }

    &.is-disabled {
        color: rgb(165, 164, 164);
        border-color: lightgray;
        background-color: lightgray;
        cursor: not-allowed;
        
        &:hover {
            background-color: lightgray;
        }
    }

    &.small {
        height: 30px;
    }
    
    &.medium {
        height: 40px;
    }

    &.large {
        height: 50px;
    }
}