.c-table-warpper {

}

.c-table {
    width: 100%;
    min-height: 100px;

    border-collapse: collapse;
}

.c-table-header {
    text-align: left;
    tr {
        border-bottom: 4px solid $c-default-border-color;
    }

    th {
        padding: .7em 1em;
    }
}

.c-table-body {
    tr {
        border-bottom: 1px solid $c-default-border-color;
    }
    tr:last-child {
        border-bottom: none;
    }
    tr:hover {
        background-color: $c-common-hover-color;
    }
    td {
        padding: .7em 1em;
        border-width: 0 0 1px;
    }
    td:nth-child(1) {
        text-align: right;
    }
}
