.c-tag {
	display: flex;
	justify-content: center;
	align-items: center;

	max-width: 100px;

	border: 1px solid $c-default-border-color;
	border-radius: $c-border-radius;

	font-size: 10px;

	height: 20px;
	padding: 3px 8px;

	&.small {
		height: 15px;
		padding: 3px 5px;
	}
	
	&.large {
		height: 25px;
		padding-left: 10px;
		padding-right: 10px;
	}

	&.is-primary {
		background-color: $c-primary-color;
	}

	&.is-success {
		background-color: $c-success-color;
	}

	&.is-rounded {
		border-radius: $c-rounded-border-radius;
	}
}