$c-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

// border
$c-default-border-color: rgb(202, 202, 202);
$c-hover-border-color: gray;

// background-color
$c-primary-color: rgb(139, 64, 139);
$c-primary-hover-color: rgb(136, 51, 136);

// common hover color
$c-common-hover-color: lightgray;

* {
    box-sizing: border-box;
}
